 <div class="wrapper page">
	<h3 class="page-title"> about </h3>
</div>

<!-- <div class="container">
	<p class="intro-quote">Work doesn't work without play.</p>
	<p style="font-family: Dark-Medium; font-size: 1.1em;">–Shonda Rhimes</p>
</div> -->

<div class="desc-box shweta-box">
	<div class="row">
		<div class="img-column column">
			<img class="desc-thumb" src="../assets/img/THUMBS/Self2.png">
		</div>
		<div class="about-pg column">
			<div class="written-column">
				<p class="hidden">shweta (श्वेता – shway · da) 
					– is a multidisciplinary designer who enjoys questioning new boundaries. Her work is driven by the duality of purpose & play. She enjoys the process of research, experimentation, and execution. She often explores the art of fusion, merging both print and digital techniques to create innovative ideas.
				</p>
				<div class="row hidden">
				  <div class="column shway-facts">
				    <h2 style="font-size: 1em; font-weight: 100;">Services</h2>
				    <p style="font-size: 0.8em; line-height: 1.2em">
				    	Creative Direction <br>
				    	Brand Identity<br>
				    	Brand Strategy <br>
				    	Animation <br>
				    	Packaging Design <br>
						Editorial Design <br>
						Website Design <br>
						Lettering <br>
						HTML / CSS / JQuery <br>
						Illustration <br>
				    </p>
				  </div>
				  <div class="column shway-facts">
				  	<h2 style="font-size: 1em; font-weight: 100">Enjoys</h2>
				    <p><p style="font-size: 0.8em; line-height: 1.2em">
				    	Peanut butter <br>
				    	Stargazing <br>
				    	Bubble tea <br>
				    	Youth Work<br>
				    	Reading <br>
						Travel <br>
						Meditation <br>
						 <br>
					</p>
				</div>
			  </div>
			</div>
		</div>
	</div>
</div>

<div class="divider tablet-only"></div>

<div class="resume">
	<div class="row">
		<div class="heading-column hidden">
			<h5 class="section-title">Shweta Sharma</h5>
			<a class="hover" href="mailto:hello@shwayda.com"> HELLO@SHWAYDA.COM</a>
		</div>

		<div class="info-column hidden">
			<div class="social-icons">
				<div>
					<a href="https://dribbble.com/shway"><img class="icon" src="../assets/img/social/dribbble.png"></a>
					<a href="https://www.behance.net/shwetanator"><img class="icon" src="../assets/img/social/behance.png"></a>
					<a href="http://instagram.com/shwayda"><img class="icon" src="../assets/img/social/instagram.png"></a>
					<a href="https://www.linkedin.com/in/shway/"><img class="icon" src="../assets/img/social/linkedin.png"></a>
					
				</div>
			</div>
			<div class="fun-facts hidden">
					<div class="bio">
						<p class="strong">SIGN</p>
						<p class="light details">PISCES</p>
					</div>
					<div class="bio" style="width:18%">
						<p class="strong">YEAR</p>
						<p class="light details">1993</p>
					</div>
					<div class="bio" style="width:30%">
						<p class="strong">LOCATION</p>
						<p class="light details">DELHI > TORONTO</p>
					</div>
					<div class="bio">
						<p class="strong">COLOR</p>
						<p class="light details">BLOOD ORANGE</p>
					</div>
			</div>		
		</div>	
	</div>

	<div class="divider"></div>

	

	<!---->
	<div class="row">
		<div class="heading-column hidden">
			<h5 class="section-title">Education</h5>
		</div>

		<div class="info-column">
			<div class="hidden">
				<p class="strong">OCAD University</p>
				<p class="light">Bachelor of Design (BDes)<br>2011 – 2015</p>
			</div>
			
			<div class="hidden">
				<p class="strong">Brainstation</p>
				<p class="light">Web Development<br>2016</p>
			</div>
		</div>
	</div>
	<div class="divider"></div>

	<!---->
	<div class="row">
		<div class="heading-column hidden">
			<h5 class="section-title">Professional Experience</h5>
		</div>

		<div class="info-column">
			<div class="hidden">
				<p class="strong ">Boys & Girls Club of Albion</p>
				<p class="light">Digital Arts Youth Worker<br>2018 – Present</p>
			</div>
			<div class="hidden">
				<p class="strong">Community Agency</p>
				<p class="light">Graphic Designer<br>2018</p>
			</div>
			<div class="hidden">
				<p class="strong">Canadian Tire Corporation</p>
				<p class="light">Digital Publisher<br>2017 – 2018</p>
			</div>
			<div class="hidden">
				<p class="strong">Freelance</p>
				<p class="light">Designer + Founder<br>2016 – Present</p>
			</div>
			<div class="hidden">
				<p class="strong">Craft + Keen</p>
				<p class="light">Graphic Designer (Internship)<br>2016</p>
			</div>
			<div class="hidden">
				<p class="strong">Diamond Integrated Marketing</p>
				<p class="light">Graphic Designer (Contract)<br>2015</p>
			</div>
			<div class="hidden">
				<p class="strong">Imm-Living</p>
				<p class="light">Junior Graphic Designer<br>2013 – 2015</p>
			</div>
		</div>
	</div>
	<div class="divider"></div>

	<!---->
	<div class="row">
		<div class="heading-column hidden">
			<h5 class="section-title">Volunteer</h5>
		</div>

		<div class="info-column ">
			<div class="hidden">
				<p class="strong">WIPP (Women Inspiring Passion & Purpose)</p>
				<p class="light">Graphic Designer<br>2016-2017</p>
			</div>
			<div class="hidden">
				<p class="strong">99u Behance Conference</p>
				<p class="light">Festival Volunteer<br>2016</p>
			</div>
			<div class="hidden">
				<p class="strong">Boys & Girls Club of Albion</p>
				<p class="light">Volunteer Artist<br>2016</p>
			</div>
			<div class="hidden">
				<p class="strong">416 RISE</p>
				<p class="light">Event Volunteer<br>2016</p>
			</div>
			<div class="hidden">
				<p class="strong">Manifesto Community Projects</p>
				<p class="light">Festival Volunteer<br>2015</p>
			</div>
			
		</div>
	</div>
	<div class="divider"></div>
	<div class="hidden">
		<p class="light bottom-resume">
			<br><br> References available upon request.
			<br><br><a href="">Download PDF here.</a>
		</p>
	</div>
</div>





