 <div class="wrapper page">
	<h3 class="page-title contact-title"> contact </h3>
</div>


<div class="desc-box">
	<div class="row">
		<div class="img-column column contact" style="background-color: lightgreen;">
			<p class="contact-info">
				<a class="hidden" style="color:black" href="">647 760 7334</a>
				<br>
				<a style="color:black" class="hover hidden" href="mailto:hello@shwayda.com"> hello@shwayda.com</a>
			</p>
		</div>
		<div class="written-column column contact-pg">
			<div class="connect ">	
				<a class="contact-links hidden" href="http://instagram.com/shwayda">Instagram</a>	
				<a class="contact-links hidden" href="https://www.behance.net/shwetanator">Behance</a>	

				<a class="contact-links hidden" href="ttps://dribbble.com/shway">Dribbble</a>
					
				<a class="contact-links hidden" href="http://journal.shwayda.com">Journal</a>

			</div>
			
		</div>
	</div>
</div>


