	<div>
<!-- 	rise
	fore
	rexp
	sanar
	grief
	eyeris
	earthwatch
	thesis -->


	<!-- PROJECT -->
		<div>

			<div class="proj left">
				<a ui-sref="rise">
					<div class="imageBox">
					    <div class="imageInn">
					        <img src="assets/img/THUMBS/Thumb-RISE2.png" alt="Default Image">
					    </div>
					    <div class="hoverImg">
					        <img src="assets/img/jersey-milk/thumb2.jpg" alt="Profile Image">
					    </div>
					</div>
				</a>
			</div>

			<div class="proj right">
				<a ui-sref="fore">
					<div class="imageBox">
					    <div class="imageInn">
					        <img src="assets/img/THUMBS/Thumb-Fore.png">
					    </div>
					    <div class="hoverImg">
					        <img src="assets/img/decode-blog/thumbHover.jpg" alt="Profile Image">
					    </div>
					</div>
				</a>
			</div>

			<div class="proj left">
				<a ui-sref="sanar">
					<div class="imageBox">
					    <div class="imageInn">
					        <img src="assets/img/THUMBS/Thumb-Sanar2.png">
					    </div>
					    <div class="hoverImg">
					        <img src="assets/img/drowned-citizens/thumb2.jpg" alt="Profile Image">
					    </div>
					</div>
				</a>
			</div>

			<div class="proj right">
				<a ui-sref="rexpressions">
					<div class="imageBox">
					    <div class="imageInn">
					        <img src="assets/img/THUMBS/Thumb-Rexpressions.png" alt="Default Image">
					    </div>
					    <div class="hoverImg">
					        <img src="assets/img/thesis-book/thumb2.jpg" alt="Profile Image">
					    </div>
					</div>
				</a>
			</div>

			<div class="proj left">
				<a ui-sref="to-sunrise">
					<div class="imageBox">
					    <div class="imageInn">
					        <img src="assets/img/THUMBS/Thumb-Grief.png">
					    </div>
					    <div class="hoverImg">
					        <img src="assets/img/decode-blog/thumbHover.jpg" alt="Profile Image">
					    </div>
					</div>
				</a>
			</div>

			<div class="proj right">
				<a ui-sref="eyeris-tools">
					<div class="imageBox">
					    <div class="imageInn">
					        <img src="assets/img/THUMBS/Thumb-Eyeris.png">
					    </div>
					    <div class="hoverImg">
					        <img src="assets/img/eyeris_tools/DSC_0953.jpg">
					    </div>
					</div>
				</a>
			</div>

			<div class="proj left">
				<a ui-sref="this-is-not-a-toy">
					<div class="imageBox">
					    <div class="imageInn">
					        <img src="assets/img/THUMBS/Thumb-Thesis.png" alt="Default Image">
					    </div>
					    <div class="hoverImg">
					        <img src="assets/img/thesis-book/thumb2.jpg" alt="Profile Image">
					    </div>
					</div>
				</a>
			</div>

			<div class="proj right">
				<a ui-sref="earthwatch">
					<div class="imageBox">
					    <div class="imageInn">
					        <img src="assets/img/THUMBS/Thumb-Earthwatch.png">
					    </div>
					    <div class="hoverImg">
					        <img src="assets/img/deji-cards/Thumbnail_2.jpg" alt="Profile Image">
					    </div>
					</div>
				</a>
			</div>








	</div>

