
@font-face {
	font-family: Dark-Bold;
	src: url(../fonts/DarkerGrotesqueTRIAL-Bold.otf);
}

@font-face {
	font-family: Dark-Medium;
	src: url(../fonts/DarkerGrotesqueTRIAL-Medium.otf);
}

@font-face {
	font-family: Formula-Bold;
	src: url(../fonts/FormulaCondensed-Bold.otf);
}

@font-face {
	font-family: Formula-Light;
	src: url(../fonts/FormulaCondensed-Light.otf);
}

.html {
	-webkit-font-smoothing: antialiased;
    overflow: hidden;
}

body {
	background-color: #000;
	cursor: default;
	width: 98vw;
	height: 60px;
	margin: 0 auto;

}

/*
div {
	border: 1px white solid;
}
*/

/*NAVIGATION BAR*/
nav {
	position: fixed;
	top: 1%;
	display: inline-block;
    z-index: 1000;
    width: 98vw;
}


.nav-list {
    display: inline-block;
    float: right;
    width: 38%;
}

.nav-list a {
	color: white;
	text-decoration: none;
}

.nav-list a:hover {
	border-bottom: 7px solid white;
	padding-bottom: 3px;
}

.nav-title {
	width:100%; 
	display: inline-block;
}

.nav-title img {
	width: 6%;
}

.nav-title a {
    border-bottom: none !important;
}

.nav-menu {
    width: 21.3%;
    display: inline-block;
    float: right;
    color: white;
    text-align: right;
    font-size: 16px;
}

.nav-menu a {
    border-bottom: none !important;
}

a {
    text-decoration: none;
    color: white;
    border-bottom: 0.05em solid white; 
    padding-bottom: 2px;
    font-family: Dark-Medium;
    letter-spacing: 2px;
}

.client-web {
    font-size: 0.8em;
}

.hover {
    color: white;
    transition: 0.3s;
}

.hover:hover {
    color: red;
}

.proj {
    width: 49.5%;
    display: inline-block;
    margin-top: 1vh;
}


.imageBox {
    position: relative;
    float: left;
    width: auto;
    opacity: 1;
    transition: 0.3s;
}

.imageBox .hoverImg {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.imageBox:hover {
    display: block;
    opacity: 0.5;
}

.right {
	margin-left: 1%;
	float: right;
}

.contentbox .proj img {
	width: 100%;
}


.menulist a:hover {
	color: white;
}

.titlebox {
	display: inline-block;
/*	margin-top: 10px;*/
}

.menu {
	display: inline-block;
	float: right;
}

.menulist {
	font-family: Cocogoose;
	font-size: 0.8rem;
	display: block;
	margin: 0px;
}

.contentbox {
    margin-top: 7%;
}

.introshway {
	font-family: 'Rufina', serif;
	font-size: 2.3rem;
	line-height: 3rem;
	display: block;
	font-weight: 100;
}

.subtitle {
	font-family: Cocogoose;
	font-size: 0.8rem;
	margin-top: 40px;
}

.projectbox {
	margin-top: 90px;
}

.projects {
	margin-top:30px;
}

.infobox {
	width: 33%;
	height: 95%;
	display: inline-block;
	line-height: 10%;
	padding-top: 15px;
}

.viewproj {
	margin-top: 15px;
}

.viewInfo {
	margin-top: 15px;
}


.client {
    line-height: 1.5em;
    color: white;
    font-size: 1.2em;
    margin: 0 auto;
    font-family: Dark-Bold;
    letter-spacing: 1px;
    display: inline;
}

.year {
    margin-top: 0px;
    line-height: 1rem;
    font-family: robotomono-thin;
    color: white;
/*    display: inline-block;*/
    font-size: 1rem;
    line-height: 1.4rem;
}

.desc-box {
    display: block;
    position: relative;
    width: 101vw;
    height: 100vh;
    background-color: whitesmoke;
    left: -30px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.eyeris {
    background-color: #b5acd7;
    top:30%;
    color: white;
}

.rise {
    background-color: #e1b79d;
    top:25%;
    color: black;
}

.earthwatch {
    background-color: #E4F0CD;
    top:30%;
    color: black;
}

.sanar {
     background-color: #e1b79d;
    top:35%;
    color: black;   
}

.rexpressions {
    background-color: #efe717;
    top: 40%;
    color: black;
}

.thesis {
    background-color:#ff6c00;
    top: 30%;
    color: black;
}

.fore {
    background-color: #AB9430;
    top: 35%;
    color: black;
}

img {
  text-indent: -999px;
}

.shweta-box {
    background-color: #ff452e;
}

.desc-thumb {
   /* width: 100%;
    height: 100vh;*/
    background-position: center;
    background-repeat: no-repeat;
}

.written p {
    font-family: Gravity-Light;
    font-size: 0.78rem;
    color: white;
    width: 75%;
    margin: 12px 0px;
    line-height: 1.4rem;
    letter-spacing: 1.3px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 25px;
}

.images {
	/*height: 400px;*/
}

.content {
	display: block;
    padding-top: 10%;
}

.img-column {
	width: 50%;
	display: inline-block;
    height: 100vh;
}

.img-column img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.written-column {
    width: 39%;
    display: inline-block;
    position: absolute;
    font-family: Dark-Medium;
    font-size: 1.7em;
    margin-left: 60px;
    letter-spacing: 1.5px;
    line-height: 1.4em;
}

.written-desktop {
    width:80%;
}

.about-pg {
    margin-top: 10%;
}

.hidden {
    opacity: 0;
}

.divider {
    width: 98vw;
    border: 0.6px white solid;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.subtitle2 {
    font-family: robotomono-thin;
    color: white;
    font-size: 0.85rem;
}

.education {
	text-align: left;
	width: 40%;
	margin: 0 auto;
	display: inline-block;
}

.tools {
	display: inline-block;
}

.programs {
	width: 35%;
	font-family: RobotoMono-Thin;
}

.other {
	width: 25%;
	font-family: RobotoMono-Thin;
}

.title-credit {
	font-weight: 700;
}

.left {
    position: relative;
/*    top: -13px;*/
	/*float: left;*/
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
    position: relative;
    width: 104vw;
    height: 110vh;
    background-color: #ff452f;
    overflow: hidden;
    left: -30px;
    top: 100px;
    text-align: center;
}

.intro-quote {
    width: 30%;
    height: 50%;
    padding: 30px;
    margin: 0 auto;
    text-align: center;
    font-family: Formula-Light;
    font-size: 3em;
    color: black;
    position: relative;
    top: 40%;
}

/*.page {
    height: 50vh !important;
    margin-top: 30% !important;
}*/

.thumb {
	width: 66%;
	height: 100%;
	display: inline-block;
	overflow: hidden;
	display: flex;
}

.thumb img {
	width: 10vw;
	height: auto;
	margin: auto auto;
	background-size: cover;
    flex-shrink: 0;
    min-width: 100%;
    /*min-height: 100%;*/
}

.social a {
	color: #E5332A;
    text-decoration: none;
    display: inline-block;
}

.project-title {
    font-family: Formula-Bold;
    font-size: 15em;
    color: white;
    text-align: center;
    line-height: 2em;
    letter-spacing: 7px;
    margin: -30px auto;
    padding-top: 7%;
}

picture source {
	width: 70vw;
}

.project-img {
	width: 98vw;
	margin: 20px 0px;
}

.project-img-half {
    width: 99vw; 
    /*margin: 20px 9px;*/
    display: inline-block;
}

.half {
    width: 50%;
}

.third {
    width: 32%;
    margin: 13px;
}

img {
    image-orientation: from-image;
}

/*.hidden {
	opacity: 1;
}*/

.resume {
    display: block;
    margin-top: -10px;
}

/*.section-heading {
    display: inline-block;
    width: 49%;
    float: left;
}*/

.heading-column {
  float: left;
  width: 49%;
  padding: 10px;
}


.info-column {
    padding-left: 60px;
    display: inline-block;
    width: 40%;
}

/*.section-info {
    display: inline-block;
    width: 40%;
    padding-left: 60px;
}*/

.section-title {
    font-family: Formula-Light;
    color: white;
    font-size: 3em;
    font-weight: lighter;
    margin: 2px 0px;
}

.social-icons {
    display: block;
}

.social-icons a {
    border-bottom: none;
}

.fun-facts {
    width: 100%;
    display: inline-block;
    padding-top: 20px;
}

.bio {
    width: 24%;
    display: inline-block;
}

/*.wrapper {
    height: 82vh;
    margin: 0 auto;
}*/

.page-title {
	font-family: Formula-Bold;
    font-size: 20rem;
    color: #black;
    text-align: center;
    /*line-height: 3.2rem;*/
    text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;
    letter-spacing: 7px;
}

.icon {
    width: 40px;
    display: inline-block;
    padding-right: 5px;
}

.strong {
    font-family: Dark-Bold;
    font-size: 1.2em;
    color: white;
    letter-spacing: 1px;
    padding-top: 10px;
    /*text-transform: uppercase;*/
    margin-top: 0px;
}

.light {
    font-family: Dark-Medium;
    font-size: 1.2em;
    color: white;
    letter-spacing: 1px;
    margin-top: -18px;
    line-height: 1.2em;
}

.bottom-resume {
    text-align: center;
    font-size: 1.6em;
}

.proj-details {
    font-size: 1em;
    text-align: center;
}

.bio p {
    text-align: left;
}

.column-full {
    width: 49%;
    display: block;
}


.history a {
	border-bottom: 0.05em dotted white;
	text-decoration: none;
}

.history a:hover {
	color: white;
}

svg {
	height: 30px;
}

.contact-info {
    font-family: Dark-Bold;
    letter-spacing: 2px;
    color: black;
    font-size: 4em;
    line-height: 1.3em;
    padding-left: 70px;
    position: relative;
    top: 33%;
}

.contact-info a {
    color: black;
    border-bottom: 0.05em solid black;
}

.connect {
    display: block;
    width: 40px;
    line-height: 3em;
    margin-top: 30%;
}

.contact-links {
    color: black;
    border-bottom: 0.05em solid black;
    font-size: 2.5em;
    font-family: Dark-Bold;
    letter-spacing: 1px;
}

.contact-links:hover {
    color: red;
    border-bottom: 0.05em solid red;
}

.arrow {
	height: 2%;
    margin: 0 auto;
    position: fixed;
    bottom: 90px;
    left: 49vw;
    fill: white;
}

.linefooter {
	background-color: black;
    height: 1px;
    width: 140px;
    display: inline-block;
    margin: 0px auto;
}

.footer-info {
	color: white;
	font-family: Dark-Medium;
	letter-spacing: 2px;
}


#wrap {
	min-height: 100%;
    width: 98vw;
}

#main {
	overflow:auto;
	margin-top: 60px;
    margin-bottom: 20px;
    display: block;
}  /* must be same height as the footer */


#main p {
	/*font-family: 'Rufina', serif;*/
	font-size: 0.8rem;
	line-height: 1rem;
	text-align: center;
}

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

.about-header {
    font-family: Gravity-BOLD;
    /* color: #D0865F; */
    color: black;
    letter-spacing: 1.4px;
    /* display: inline; */
    font-size: 0.8em;
    margin-bottom: -5px;
    -webkit-margin-before: 0px;
}

.about-info {
    line-height: 1rem;
    font-family: robotomono-thin;
    color: white;
    display: inline-block;
    font-size: 0.8rem;
    line-height: 1.4rem;
    letter-spacing: 1.3px;
}

.social-icons {
	width: 30px;
    display: inline;
}


.tablet-only {
    display: none;
}

/*.social-icons div {
    display: inline-block;
}
*/
margin:0;padding:0;} 

/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html, body {
	height: 100%;
}

.manifesto {
	background-color: black
}

.manifesto p {
	font-family: 'Rufina', serif;
	font-size: 2rem;
	line-height: 3rem;
	color: white;
	padding: 40px;
	letter-spacing: 1px;
	text-align: center;
}

.about {
	width: 70vw;
	margin: 0 auto;
}

.contact {
	width: 33%;
	display: inline-block;
	vertical-align: top;
    text-align: right;
    margin-right: 1%;
}

.about-written {
	width: 30%;
	display: inline-block;
    font-family: Gravity-Light;
    font-size: 0.78rem;
    color: white;
    margin: 12px 0px;
    line-height: 1.4rem;
    letter-spacing: 1.3px;
    margin: 0 auto;
    margin-bottom: 8%;
    margin-left: 1%;
    vertical-align: top;
}

.photo {
	width: 33%; 
	display: inline-block; 
	/*float: right;*/
}

/*  MACBOOK, LESS THAN 900 PIXELS */
@media only screen and (max-width:1365px) {


/*    body {
        background-color: salmon;
    }*/
    
    .project-title {
        font-size: 11.9em;
        padding-top: 17%;
    }

    .written-column {
        font-size: 1.5em;

    }

    .project-img {
        margin: 6px 0px;
    }

/*    .page {
        margin-top: 40% !important;
    }*/

    .about-pg {
        margin-top: 20%;
    }

    .contact-pg {
        margin-top: 15%;
    }

    .info-column {
        padding-left: 40px;
    }

    .nav-list {
        width: 48%;
    }

    .desc-box {
        width: 103vw;
    }

    .contact-info {
        font-size: 4em;
        top: 29%;
        text-align: center;
    }
}

/*  TABLET, LESS THAN 1110 PIXELS */
@media only screen and (max-width:1110px) {
    html {
        font-size: 90%;
    }

/*  body {
        background-color: lightblue;
    }*/
    
    .thumb {
        width: 100%;
    }

    .infobox {
        display: none;
    }
    
    .introshway {
        font-size: 2rem;
        line-height: 2.7rem;
    }

    .social {
        font-size: 90%;
        line-height: 0%;
    }

    .proj {
        width: 100%;
    }

    .eyeris {
        background-color: unset;
    }

    .column {
        float: left;
        width: 100%;
    }

    .written-column {
        position: unset;
        text-align: center;
        width: 60%;
        margin: 20%;
    }

    .container {
        width: 104vw;
    }
    
    .shway-facts {
        width: 50%;
    }

    .tablet-only {
        display: flex;
        margin-bottom: 7%;
    }

    .nav-list {
        width: 51%;
    }

    .connect {
        display: block;
        width: 50%;
        line-height: 3em;
        margin-top: 30%;
        text-align: center;
        margin: 0 auto;
    }

    .contact-links {
        color: black;
         border-bottom: 0.05em solid black;
    }

    .about-pg {
     margin-top: 0%; 
    }

    .written-desktop {
        width: auto;
    }

    .project-img {
        margin: 3px 0px;
    }

    .rise {
        background-color: unset;
        color: white !important;
    }

    .earthwatch {
        background-color: unset;
        color: white;
    }

    .sanar {
        background-color: unset;
        color: white !important;
    }

    .thesis {
        background-color: unset;
        color: white;
    }

    .fore {
        background-color: unset;
        color: white;
    }

    .grief {

    }

    .rexpressions {
        background-color: unset;
        color: white;
    }

    .img-column {
        height: unset;
    }

    .shweta-box {
        background-color: black;
        color: white;
    }
}

/*SMALL, LESS THAN 319 PIXELS */
@media only screen and (max-width:880px) {

    html {
        font-size: 92%;
    }

/*    body {
        background-color: grey;
    }*/

    .proj {
        width: 100%;
    }

    .right {
        margin-left: 0px;
    }

    .thumb img {
        height: 40vh;
        width: auto;
        position: relative;
        right: 25%;
    }

    .nav-list {
        float: right;
    }

    .nav-menu {
        width: 60%;
    }
    
    .shway-facts {
        width: 100%;
    }

    .page-title {
        font-size: 15rem;
    }

    .heading-column {
        width: 100%;
    }

    .info-column {
        padding-left:10px; 
        display: inline-block;
        width: 100%;
    }

    .social-icons div {
        padding-top: 3%;
    }

    .contact-title {
        font-size: 12rem;
    }

    .connect {
         display: block; 
         width: 90%; 
         line-height: 3em;
         margin-top: 0%; 
    }


    .contact-info {
        padding-left: 0px;
    }

    .proj-details {
        padding-top: 50px;
    }

    .project-title {
        padding-top: 29%;
        line-height: 1.3em;
    }

    .contentbox {
        margin-top: 17%;
    }
    
    .written-column {
        font-size: 1.3em;
    }

    .nav-title img {
         width: 12%;
    }
}

/*SMALL, LESS THAN 319 PIXELS */
@media only screen and (max-width:530px) {

/*    body {
        background-color: orchid;
    }*/

    .mainbox {
        width: 70vw;
    }   

    html {
        font-size: 90%;
    }

    .thumbnail img {
        overflow: hidden;
    }

    .social {
        letter-spacing: -0.5px;
    }
    
    .written {
        width: 100%;
    }

    .lineProj {
        width: 56%;
    }

    .thumb img {
        height: 100%;
        width: auto;
        position: relative;
        right: 40%;
    }
    
    .contentbox {
        width: 100vw;
    }

    .page-title {
        font-size: 11rem;
        text-shadow: 0.5px 0 0 #fff, 0 0.5px 0 #fff, 0 0.5px 0 #fff, -0.5px 0 0 #fff;
    }

    .contact-title {
        font-size: 8rem;
    }

    .desc-box {
        width: 108vw;
    }

    .contact-info {
        font-size: 2em;
    }

    .project-title {
        font-size: 8em;
        padding-top: 49%;
        font-size: 7em;
        width: 90%;
        line-height: 1em;
    }

    .contentbox {
        margin-top: 37%;
    }

}



@media only screen and (max-width:375px) {
/*    body {
        background-color: yellow;
    }*/

    nav {
        font-size: 100%;
    }

    .introshway {
        font-size: 1.4rem;
        line-height: 1.9rem;
    }

    .project-title {
        font-size: 3.5rem;
        line-height: 4.5rem;
        text-align: center;
    }


    .lineProj {
        width: 50%;
    }
    
    .details {
        display: block;
        width: 100%;
    }

    .infotype, .info {
        font-size: 100%;
    }
    
    .details p {
        line-height: 1.3rem;
    }

    .social {
/*      display: inline-block;
        width: 32%;*/
        text-align: left;
    }

    .written {
        display: block;
        width: 100%;
    }

    #main p {
        font-size: 1rem;
        line-height: 1.2rem;
    }


    .cit {
        font-size: 3rem;
        line-height: 3.5rem;
    }
}


